{
  "presets": [
    "env",
    "react",
    "stage-2"
  ],
  "plugins": [
    "transform-es2015-arrow-functions",
    "transform-class-properties",
    "transform-decorators",
    "react-hot-loader/babel"
  ]
}